:host {
    h2{
       color:#3f51b5 ; 
    }

    .customer {
        margin: 20px 50px;
    }

    button{
        border-radius: 50px;
    }

    .title {
        font-size: large;
    }

    .contract-grid-list {
        width: 600px;
    }
}